#wrapper {
    width: 93.75%;  /* 960 / 1024 = .9375 */
}

#content {
    width: 66.66666667%; /* 250 / 960 = .666666667 */
    padding: 1.5625%; /* 15 / 960 = .015625 */
}

#sidebar {
    width: 26.04166667%; /* 250 / 960 = .26041666667 */
    padding: 1.5625%; /* 15 / 960 = .015625 */
}

img {
	max-width: 100%;
}