@media (max-width: 600px) {

	#content .description {
		display: none;
	}
	
}

@media (max-width: 480px) {

	#sidebar img {
		display: none;
	}
	
}


/*------------------------------------*\
	NAVIGATION
\*------------------------------------*/

.navigation select {
      display: none;
}

select {
	font-size: 16px;
}
    
@media (max-width: 480px) {
    .navigation ul     { 
        display: none; 
    }
    .navigation select { 
        display: inline-block; 
    }
	.navigation {
		text-align: center; 
		height: 60px;
	}
}
